.sidebar {
    width: 220px;
    background: white;
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 35%;
    overflow-y: auto;
    position: fixed;
    top: 60px; /* 헤더의 높이만큼 조정 */
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.mypageLogo {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarItem {
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    position: relative;
    animation: bounce 0.5s ease;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}

.navButton {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebarItem:hover .navButton {
    margin-left: 10px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #93d5ea, #4fa1ee);
    border-radius: 10px;
    color: #225af3;
}

.icon {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.label {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.sidebarItem:hover .icon,
.sidebarItem:hover .label {
    transform: translateX(5px);
}

.sidebarItem:hover .label {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.sidebarItem:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: rgb(7, 64, 251);
    transition: width 0.3s ease;
}

.sidebarItem:hover:after {
    width: 100%;
}

.active .navButton {
    font-weight: bold;
    color: #0066ff;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .sidebarItem {
        margin-left: 0;
    }
}
