.pageWrapper {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.travelPage {
  font-family: Arial, sans-serif;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.fadeEnter {
  opacity: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fadeExit {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.heroSection {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  z-index: 3;
}

.logo {
  width: 150px;
  margin-bottom: 2rem;
}

.heroTitle {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 255, 1), rgba(86, 86, 236, 0.814), rgba(243, 228, 228, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.heroSubtitle {
  color: rgb(39, 43, 245);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: center;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff,
    -2px -2px 0 #fff,
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); 
  z-index: -1;
}

.heroVideo,
.videoOverlay {
  filter: blur(2px);
}

.btn {
  background-color: gray;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-size: 1.25rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.btnLarge {
  font-size: 1.5rem;
  padding: 1.25rem 2.5rem;
}

.btn::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.btn:hover {
  color: #5cabfa;
}

.btn:hover::after {
  width: 110%;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section {
  padding: 6rem 0;
}

.tealSection, .darkTealSection, .brightTealSection {
  background-color: #92bcf6;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.flexContainer {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.flexHalf {
  flex: 1;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
  padding: 150px;
}

.sectionText {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  margin-left: 20px;
  color: black;
}

.sectionSubtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 1rem;
}

.sectionImage {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover .sectionImage {
  transform: scale(1.1);
}

.center {
  text-align: center;
}

.featuresContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.featureCard {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.featureTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000000;
}

.featureDescription {
  font-size: 1rem;
  color: #000000;
}

.contactSection {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.contactImageWrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.contactImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactTitle {
  position: absolute;
  bottom: 50vh;
  left: 5vw;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.contactInfoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #007bff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contactInfoTitle {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contactInfo {
  width: 100%;
}

.infoGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
  width: 70px;
  height: 70px;
  object-fit: contain;
  vertical-align: middle;
}

.infoText {
  color: #fff;
  font-size: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 1440px;
  padding: 1rem 0;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
}

.navbarShrink {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 3500px;
  padding: 0 2rem;
}

.navbarBrand {
  color: #0066ff;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbarNav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1.5rem;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
  font-size: 1.2rem;
}

.navbarShrink .navLink {
  color: #333;
}

.navLink:hover {
  color: #5bc0de;
}

.navbarToggler {
  display: none;
}

.scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 50vw;
  background-color: rgba(69, 121, 169, 0.8);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1000;
}

.scrollTopButton:hover {
  background-color: rgba(74, 154, 232, 0.9);
  transform: scale(1.1);
}

.scrollTopIcon {
  width: 50px;
  height: 50px;
  color: blue;
}

@media (max-width: 768px) {
  .flexContainer, .newsContainer, .contactSection {
    flex-direction: column;
  }

  .heroTitle, .sectionTitle {
    font-size: 3rem;
  }

  .sectionText, .newsText, .contactText {
    font-size: 1.25rem;
  }

  .btnLarge {
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }

  .section {
    padding: 2rem 1rem;
  }

  .contactSection {
    flex-direction: column;
  }

  .contactImageWrapper, .contactInfoWrapper {
    width: 100%;
  }

  .contactInfoWrapper {
    position: relative;
    height: auto;
  }

  .navbar {
    min-width: 100%;
  }

  .navbarNav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbarNav.show {
    display: flex;
  }
  
  .navItem {
    margin: 0.5rem 0;
  }
  
  .navLink {
    color: #333;
    display: block;
    padding: 0.5rem 2rem;
  }
  
  .navbarToggler {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .featuresContainer {
    flex-direction: column;
  }
}
