/* AdminProfile.module.css */

.container {
  margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .content {
    width: 100%;
    padding: 20px;
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .input,
  .select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .input:focus,
  .select:focus {
    border-color: #0066ff;
  }
  
  .button {
    grid-column: span 2;
    background-color: #0066ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    width: 120px;
    justify-self: end;
  }
  
  .button:hover {
    background-color: #0066ff;
  }
  
  .profilePicContainer {
    display: flex;
    align-items: center;
  }
  
  .profilePic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 15px;
  }
  
  .changePassword {
    font-size: 14px;
    color: #0066ff;
    cursor: pointer;
  }
  
  .changePassword:hover {
    text-decoration: underline;
  }
  
  .fileInput {
    display: flex;
    align-items: center;
  }
  
  .fileLabel {
    margin-left: 10px;
    font-size: 14px;
    color: #0066ff;
    cursor: pointer;
  }
  
  .fileLabel:hover {
    text-decoration: underline;
  }
  