.container {
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 70px;
    
  }
  
  .title {
    font-size: 30px;
    color: #0066ff;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    line-height: 1.7;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .features {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .feature {
    margin: 0 20px;
    text-align: center;
    margin-right: 40px;
  }
  
  .featureImage {
    width: 300px;
    height: 350px;
    margin-bottom: 10px;
  }
  
  .featureTitle {
    font-size: 30px;
    font-weight: bold;
    color: #333;
  }
  
  .actionButton {
    background-color: #0066ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .actionButton:hover {
    background-color: #0056b3;
  }
  