.inquiryDetails {
    margin: 20px;
}

.title {
    margin-top: 15px;
    margin-bottom: 20px;
}

.titlesmall {
    font-size: 20px;
    margin-left: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #0066ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0066ff;
}