/* src/styles/Header.css */
.header,
.header * {
    box-sizing: border-box;
}

.header {
    background: #fffdf8;
    padding: 30px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.header-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-button {
    color: #617ee5;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 32px;
    line-height: 34px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-frame {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav-button {
    color: #617ee5;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
}

.home-button {
    color: #617ee5;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.dropdown-text {
    color: #1e1e1e;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.dropdown-icon {
    flex-shrink: 0;
    width: 9px;
    height: 5px;
}

.login-button {
    background: #617ee5;
    border-radius: 10px;
    padding: 13px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    cursor: pointer;
    border: none;
}

.login-text {
    color: #ffffff;
    text-align: center;
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}