/* GuideProfileModal.module.css */
.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    width: 600px; /* 기존 크기보다 2배 */
    padding: 40px; /* 기존 padding보다 더 여유있게 */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .avatar {
    width: 100px; /* 기존보다 2배 */
    height: 100px; /* 기존보다 2배 */
    background-color: #e0e0e0;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .name {
    font-weight: bold;
  }
  
  .hashtags {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }
  
  .hashtag {
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 16px;
  }
  
  .ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    margin-bottom: 16px;
    width: 100%;
  }
  
  .description {
    margin-bottom: 16px;
  }
  
  .expert {
    color: #3f51b5;
    cursor: pointer;
    text-align: center;
  }
  