.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image {
  width: 200px; /* 이미지 크기를 적절하게 조정 */
  height: auto;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5; /* 메시지가 여러 줄일 경우 적절한 간격을 줍니다 */
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 30px; /* 버튼 크기를 맞추기 위해 패딩을 조정 */
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
