.maintenancePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 상단에 붙이기 위해 변경 */
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  padding-top: 50px; /* 상단과의 간격을 유지하기 위해 약간의 패딩 추가 */
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.image {
  width: 500px; /* 이미지 크기를 적절하게 조정 */
  height: auto;
  margin-bottom: 40px;
}

.message {
  font-size: 25px;
  color: #333;
  margin-bottom: 40px;
  line-height: 1.5; /* 메시지가 여러 줄일 경우 적절한 간격을 줍니다 */
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
